body,html{
    background:#fff;
    position:relative;
}
.main{
    width:100%;
    background:#fff;
    font-size:.48rem;
    color:#000;
}
.header{
    width:100%;
    padding:0 .4rem;
    height:1.4rem;
    line-height:1.4rem;
    text-align:center;
    border-bottom:1px solid #f2f2f2;
}
.header span{
    float:left;
    width:.36rem;
    height:.68rem;
    background:url('../img/goBack.png');
    background-size:100%;
    transform:rotate(180deg);
    margin-top:.34rem;
}
.logo{
    display:block;
    width:8.16rem;
    height:2.12rem;
    margin:3.4rem auto 2.6rem;
}
.codeText{
    display:block;
    width:11.6rem;
    height:1.4rem;
    line-height:1.4rem;
    margin:0 auto .7rem;
    border:1px solid #b3b3b3;
    border-radius:5px;
    text-align:center;
    color:#b3b3b3;
}
.beSureBtn{
    display:block;
    width:11.6rem;
    height:1.4rem;
    margin:0 auto .7rem;
    border-radius:5px;
    border:none;
    color:#fff;
    background: linear-gradient(to right, #0064ec, #51d7f6);
}

.myModal{
    width:100%;
    background:#999;
    opacity:0.9;
    position: absolute;
    top:1.4rem;
    left:0;
    display:none;
}
.modalMain{
    position: absolute;
    top:30%;
    left:18%;
    width: 9.76rem;
    height:6rem;
    background:#fff;
    border-radius:6px;
}
.modalMain .close{
    display:block;
    position: absolute;
    top:-.3rem;
    right:-.3rem;
    width:.8rem;
    height:.8rem;
    background:url('../img/del.png');
    background-size:100%;
}
.modalMain .myTip{
    display:block;
    width:2.52rem;
    height:.6rem;
    margin:.52rem auto 1.12rem;

}
.modalMain .text{
    margin:0 auto;
    text-align:center;
    color:#808080;
    font-size:.48rem;
}

.beSurnTip{
    display:block;
    width:6rem;
    height:1.2rem;
    margin:1rem auto;
    color:#fff;
    font-size:.48rem;
    border-radius:5px;
    border:none;
    background: linear-gradient(to right, #0064ec, #51d7f6);
}










